body {
  --bg: #f8f8f2;
  --websiteTitle: #32e89c;
  --textNormal: #282a36;
  --textTitle: #1a3f97;
  --menuLink: #32e89c;
  --textLink: #1898d4;
  --inlineCode-bg: #df698245;
  --inlineCode-text: #1a1a1a;
  --code-bg: rgb(51, 58, 75);

  background-color: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #232838;
  --websiteTitle: #6ee9b6;
  --textNormal: #f8f8f2;
  --textTitle: #f8d72c;
  --menuLink: #6ee9b6;
  --textLink: #8dd6f8;
  --inlineCode-bg: rgb(51, 58, 75);
  --inlineCode-text: #e6e6e6;
  --code-bg: rgb(51, 58, 75);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
}

/* Code */
pre[class*="language-"] {
  background: var(--code-bg);
}

/* Inline code & code */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-variant-ligatures: none;
  font-feature-settings: normal;
}
